// container for the recents posts
.posts
  display: grid
  width: 100%
  grid-gap: 40px
  grid-auto-flow: row dense
  margin: 0 auto
  margin-bottom: 4em
  align-items: center
  grid-auto-rows: minmax(auto, 1fr)
  grid-template-columns: 1fr
  justify-content: center
  justify-items: center

  @media only screen and (min-width: $break-l)
    grid-template-columns: repeat(auto-fit, $post-width)

.post
  width: 100%
  height: 100vw
  position: relative
  display: inline-block
  transition: transform .4s $easing-function, opacity .4 $easing-function
  overflow: hidden
  background: $card-background
  box-shadow: $double-shadow
  border-radius: $card-border-radius
  cursor: pointer
  will-change: transform
  @media only screen and (min-width: $break-s)
    width: $post-width
    height: $post-height 

.post::before 
  content: ' '
  opacity: 1
  display: block
  position: absolute
  z-index: -1
  width: 100%
  height: 100%
  overflow: auto

.post:hover::before 
  //opacity: 1

.post:hover
  transform: scale(1.02)
  //box-shadow: 0 12px 48px rgba(50,50,50,.2), 0 2px 8px rgba(50,50,50,0.1)

.post:hover .post__thumbnails
 
  &.landscape
    &>img
      transform: scale(1.03) translateY(1%)
    
    @for $i from 2 through 5
      &>.post__thumbnail--background:nth-child(#{$i})
        $exp: ($i - 1) 
        $factor-size: pow(.93, $exp)
        $factor-translate: pow(1.05, $exp)
        transform: scale(1 * $factor-size) translateY(-8% * $exp * $factor-translate)
        opacity: pow(.7, $exp)

  &.portrait 
    &>img
      transform: scale(1.03) translateY(1%)

    @for $i from 2 through 5
      &>.post__thumbnail--background:nth-child(#{$i})
        $exp: ($i - 1) 
        $factor-size: pow(.93, $exp)
        $factor-translate: pow(1.025, $exp)
        transform: scale(1 * $factor-size) translateY(-6% * $exp * $factor-translate) 
        transition-delay: .03s * $exp
        opacity: pow(.7, $exp)

.post-link
  position: absolute
  height: 100%
  width: 100%
  z-index: 100
  text-decoration: none

.post-container
  //display: grid
  //grid-template-columns: 1fr
  //grid-template-rows: 1fr 8em
  height: 100%
  width: 100%
  padding: $post-padding
  color: white


.post__footer
  display: flex
  flex-direction: column
  background: $sidebar-background-color
  height: 100%
  padding: $post-padding
  padding-top: 1rem
  z-index: 2

.post__thumbnails
  align-self: center
  top: 25%
  position: absolute
  will-change: transform

  // TODO: Calculating the value of the dynamic width to decrease pressure between breaking points
  // and make the transition seamless 
  // exact factors still need to be calculated
  
  &.landscape
    width: $post-width * .85
    height: $post-width * 0.5652 * .85

    @media only screen and (max-width: $break-s)
      $dynamic-width: 70vw
      width: $dynamic-width
      height: $dynamic-width * 0.5652
  
    @for $i from 2 through 5
      &>.post__thumbnail--background:nth-child(#{$i})
        $exp: ($i - 1) 
        $factor-size: pow(.95, $exp)
        $factor-translate: pow(1.05, $exp)
        transform: scale(1 * $factor-size) translateY(-5% * $exp  * $factor-translate) 
        transition-delay: .03s * $exp
        opacity: pow(.6, $exp)
        border-radius: 3px

  &.portrait
    width: $post-width  * 0.5652  * 1.2 
    height: $post-width * 1.2

    @media only screen and (max-width: $break-s)
      $dynamic-width: 65vw
      width: $dynamic-width * 0.5652 * 1.5
      height: $dynamic-width * 1.5

    @for $i from 2 through 5
      &>.post__thumbnail--background:nth-child(#{$i})
        $exp: ($i - 1) 
        $factor-size: pow(.95, $exp)
        $factor-translate: pow(1.05, $exp)
        transform: scale(1 * $factor-size) translateY(-3.5% * $exp * $factor-translate) 
        transition-delay: .03s * $exp
        opacity: pow(.6, $exp)
        border-radius: 3px

  &>img
    transition: all .3s $easing-function
  &>div
    transition: all .3s $easing-function
 
.post__thumbnail
  width: 100%
  height: 100%
  border-radius: 3px
  position: absolute
  z-index: 10
  //box-shadow: 0 12px 48px rgba(50,50,50,0.4)
  will-change: transform
  
.post__thumbnail--background
  background-color: rgba(255,255,255,.6)
  width: 100%
  height: 100%
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto

.post__header--title
  position: relative
  margin-top: .1em
  margin-left: .025em
  display: flex
  align-items: baseline
  flex-direction: row
  justify-content: space-between
  z-index: 20
  a 
    text-decoration: none

.post__header--tags
  display: inline-flex
  height: 1.25em
  overflow: hidden
  font-size: .8em
  font-weight: 600
  color: rgba(255,255,255,.5)
  display: flex
  width: 100%
  justify-content: space-between
  
.post__excerpt
  align-self: flex-start
  justify-self: flex-end
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  word-break: break-word
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto
  p
    margin: 0
   
.post__header--link
  display: none
  text-transform: uppercase
  font-weight: 500

  @media only screen and (max-width: $mobile-break)
    display: inline
    position: absolute
    bottom: $post-padding
    right: $post-padding
    color: white

.tags-list
  margin: 0
  padding: 0

.tags-list-item
  a
    -webkit-transition: color .15s $easing-function
    transition: color .15s $easing-function
    text-decoration: none
    text-transform: uppercase
  
  -webkit-appearance: none
  float: left
  padding-right: .5em
  list-style: none
  margin-left: 0
  padding-left: 0
  text-align: center
  position: relative
  z-index: 4