@charset "UTF-8";
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), url("/fonts/IBMPlexSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Mono"), local("IBMPlexMono"), url("/fonts/IBMPlexMono-Regular.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url("/fonts/IBMPlexSans-Regular.woff") format("woff");
}

::-moz-selection, ::-moz-selection {
  background: rgba(107, 79, 189, 0.4);
  text-shadow: none;
}

::-moz-selection, ::selection {
  background: rgba(107, 79, 189, 0.4);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

.article {
  display: -ms-grid;
  display: grid;
      grid-template-areas: " . top-bar top-bar ." " . header-img header-img . " " . header header . " " . content content . " " . bottom-bar bottom-bar .";
  -ms-grid-rows: 5em (auto)[3];
      grid-template-rows: 5em repeat(3, auto);
  -ms-grid-columns: auto 480px 480px auto;
      grid-template-columns: auto 480px 480px auto;
  grid-row-gap: 0rem;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
  .article {
    -ms-grid-columns: 2em auto 2em;
        grid-template-columns: 2em auto 2em;
    -ms-grid-rows: 5em auto auto;
        grid-template-rows: 5em auto auto;
        grid-template-areas: " . top-bar ." " . header-img . " " . header . " " . content . " " . bottom-bar .";
    grid-row-gap: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .article {
    -ms-grid-columns: 1em auto 1em;
        grid-template-columns: 1em auto 1em;
    grid-row-gap: 2rem;
    -ms-grid-rows: 5em auto auto;
        grid-template-rows: 5em auto auto;
        grid-template-areas: " . top-bar ." " . header-img . " " . header . " " . content . " " . bottom-bar .";
  }
}

.layout {
  display: -ms-grid;
  display: grid;
      grid-template-areas: " . top-bar top-bar ."  " . welcome welcome . " " . projects-info . . " " . projects projects . " " . contact contact . " " . contact-sns contact-sns . " " . bottom-bar bottom-bar .";
  -ms-grid-rows: 5em (auto)[4];
      grid-template-rows: 5em repeat(4, auto);
  -ms-grid-columns: auto 480px 480px auto;
      grid-template-columns: auto 480px 480px auto;
  grid-row-gap: 0rem;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
  .layout {
    -ms-grid-columns: 2em auto 2em;
        grid-template-columns: 2em auto 2em;
        grid-template-areas: " . top-bar ." " . welcome . " " . welcome . "  " . projects-info . " " . projects . " " . contact . " " . contact-sns . " " . bottom-bar .";
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    -ms-grid-columns: 1em auto 1em;
        grid-template-columns: 1em auto 1em;
        grid-template-areas: " . top-bar ."  " . welcome . " " . welcome . " " . projects-info . " " . projects . " " . contact . " " . contact-sns . " " . bottom-bar .";
  }
}

.welcome {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: welcome;
  display: contents;
}

.welcome > section:nth-child(1) {
  grid-area: welcome-start;
}

.welcome > .section-bg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background: #f5f5f5;
}

.contact {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: contact;
  display: contents;
}

.contact > div:nth-child(1) {
  grid-area: contact-start;
}

.contact > div:nth-child(2) {
  grid-area: contact-end;
}

.contact > div:nth-child(3) {
  grid-area: contact-sns-start / contact-sns-start / contact-sns-end / contact-sns-end;
}

.contact > div.section-bg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / 8;
}

.projects {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: projects;
  display: contents;
}

.projects > section:nth-child(1) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: projects-info;
}

.projects > section:nth-child(2) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: projects;
}

.contact > section:nth-child(1), .projects > section:nth-child(1), .welcome > section:nth-child(1), .contact-sns > section:nth-child(1) {
  margin: 12rem 0;
}

@media only screen and (max-width: 970px) {
  .contact > section:nth-child(1), .projects > section:nth-child(1), .welcome > section:nth-child(1), .contact-sns > section:nth-child(1) {
    margin: 6rem 0 !important;
  }
}

.bottom-bar {
  display: contents;
}

.bottom-bar > div:nth-child(1) {
  grid-area: bottom-bar-start / bottom-bar-start / bottom-bar-end / bottom-bar-end;
  font-size: 0.66667em;
}

.bottom-bar > div:nth-child(1) p {
  text-align: center;
}

#article__img, .article__header {
  margin: 8vw 0 !important;
}

.section-bg {
  z-index: -1;
}

.article__bg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  z-index: -1;
  height: 100%;
  background: #f5f5f5;
  -webkit-transition: opacity 1s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: opacity 1s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

#article__img {
  position: relative;
  width: auto;
  margin: 8vw auto !important;
  width: 100%;
  max-width: 700px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header-img;
  will-change: box-shadow;
}

a.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: 0 6px 24px rgba(50, 50, 50, 0.2), 0 1px 4px rgba(50, 50, 50, 0.2);
          box-shadow: 0 6px 24px rgba(50, 50, 50, 0.2), 0 1px 4px rgba(50, 50, 50, 0.2);
}

a.progressive:not(.replace) {
  cursor: default;
}

a.progressive img {
  display: block;
  width: 100%;
  height: auto;
}

a.progressive img.preview {
  -webkit-filter: blur(2vw);
          filter: blur(2vw);
}

a.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: opacity;
  -webkit-animation: reveal 1s cubic-bezier(0.17, 0.67, 0.16, 0.99);
          animation: reveal 1s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

a.progressive, a.progressive img.reveal {
  border-radius: .75vw;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.article-container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.16, 0.99);
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.article__header {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
  margin: 0 auto;
  width: 100%;
}

.article__header > div:nth-child(1) {
  grid-area: header-info;
}

.article__header > div:nth-child(2) {
  grid-area: header-th;
}

.article__header--title {
  position: relative;
  z-index: 20;
  margin: 2rem 0;
  text-align: left;
}

.article__header--description {
  margin: 0;
  font-size: 1.5em;
}

.article__header--subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article__header--tags, .article__header--date {
  font-size: .8em;
  font-weight: 600;
}

.article__header--date {
  margin: 0;
  padding: 0;
}

.article__header--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-link {
  color: rgba(255, 255, 255, 0.9);
  background-color: #3CC8E7;
  padding: .75em 2em;
  font-size: 1em;
  font-weight: 600;
  border-radius: 2em;
  text-align: center;
  min-width: 10em;
  margin: 0 1em;
  -webkit-filter: drop-shadow(0 0.5em 1em #3CC8E7);
  filter: drop-shadow(0 0.5em 1em #3CC8E7);
  -webkit-transition: background-color 0.5s cubic-bezier(0.17, 0.67, 0.16, 0.99), color 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99), -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: background-color 0.5s cubic-bezier(0.17, 0.67, 0.16, 0.99), color 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99), -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: background-color 0.5s cubic-bezier(0.17, 0.67, 0.16, 0.99), color 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99), transform 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: background-color 0.5s cubic-bezier(0.17, 0.67, 0.16, 0.99), color 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99), transform 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99), -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.header-link:hover {
  -webkit-transform: translateY(-4px) scale(1.01);
          transform: translateY(-4px) scale(1.01);
}

.article__content {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
  margin: 0;
  z-index: 1000;
  margin-bottom: 6vw;
}

.article__content p {
  margin-bottom: 3rem;
}

.article__content h3 {
  margin-bottom: 1rem;
}

.article__content img {
  width: 100%;
  -webkit-filter: drop-shadow(0 12px 48px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 12px 48px rgba(0, 0, 0, 0.1));
}

@media only screen and (max-width: 560px) {
  .posts {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.posts {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 40px;
  grid-auto-flow: row dense;
  margin: 0 auto;
  margin-bottom: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-rows: minmax(auto, 1fr);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

@media only screen and (min-width: 970px) {
  .posts {
    -ms-grid-columns: (460px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 460px);
  }
}

.post {
  width: 100%;
  height: 100vw;
  position: relative;
  display: inline-block;
  -webkit-transition: opacity 0.4 cubic-bezier(0.17, 0.67, 0.16, 0.99), -webkit-box-shadow 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99) 0.2s, -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: opacity 0.4 cubic-bezier(0.17, 0.67, 0.16, 0.99), -webkit-box-shadow 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99) 0.2s, -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: box-shadow 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99) 0.2s, transform 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99), opacity 0.4 cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: box-shadow 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99) 0.2s, transform 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99), opacity 0.4 cubic-bezier(0.17, 0.67, 0.16, 0.99), -webkit-box-shadow 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99) 0.2s, -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  overflow: hidden;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 24px rgba(50, 50, 50, 0.2), 0 1px 4px rgba(50, 50, 50, 0.2);
          box-shadow: 0 6px 24px rgba(50, 50, 50, 0.2), 0 1px 4px rgba(50, 50, 50, 0.2);
  cursor: pointer;
  will-change: transform, box-shadow;
}

@media only screen and (min-width: 560px) {
  .post {
    width: 460px;
    height: 520px;
  }
}

.post::before {
  content: ' ';
  opacity: 1;
  display: block;
  -webkit-box-shadow: 0 12px 48px #323232;
          box-shadow: 0 12px 48px #323232;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: auto;
}

.post:hover::before {
  opacity: 1;
}

.post:hover .post__thumbnails > img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.post:hover .post__thumbnails.landscape > .post__thumbnail--background:nth-child(2) {
  -webkit-transform: scale(0.93) translateY(-8.4%);
          transform: scale(0.93) translateY(-8.4%);
  opacity: 0.7;
}

.post:hover .post__thumbnails.landscape > .post__thumbnail--background:nth-child(3) {
  -webkit-transform: scale(0.8649) translateY(-17.64%);
          transform: scale(0.8649) translateY(-17.64%);
  opacity: 0.49;
}

.post:hover .post__thumbnails.landscape > .post__thumbnail--background:nth-child(4) {
  -webkit-transform: scale(0.80436) translateY(-27.783%);
          transform: scale(0.80436) translateY(-27.783%);
  opacity: 0.343;
}

.post:hover .post__thumbnails.landscape > .post__thumbnail--background:nth-child(5) {
  -webkit-transform: scale(0.74805) translateY(-38.8962%);
          transform: scale(0.74805) translateY(-38.8962%);
  opacity: 0.2401;
}

.post:hover .post__thumbnails.portrait > .post__thumbnail--background:nth-child(2) {
  -webkit-transform: scale(0.93) translateY(-6.3%);
          transform: scale(0.93) translateY(-6.3%);
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
  opacity: 0.7;
}

.post:hover .post__thumbnails.portrait > .post__thumbnail--background:nth-child(3) {
  -webkit-transform: scale(0.8649) translateY(-13.23%);
          transform: scale(0.8649) translateY(-13.23%);
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
  opacity: 0.49;
}

.post:hover .post__thumbnails.portrait > .post__thumbnail--background:nth-child(4) {
  -webkit-transform: scale(0.80436) translateY(-20.83725%);
          transform: scale(0.80436) translateY(-20.83725%);
  -webkit-transition-delay: 0.09s;
          transition-delay: 0.09s;
  opacity: 0.343;
}

.post:hover .post__thumbnails.portrait > .post__thumbnail--background:nth-child(5) {
  -webkit-transform: scale(0.74805) translateY(-29.17215%);
          transform: scale(0.74805) translateY(-29.17215%);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  opacity: 0.2401;
}

.post-link {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.post-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 8em;
      grid-template-rows: 1fr 8em;
  height: 100%;
  width: 100%;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  padding-bottom: 0;
  color: white;
}

.post__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f9fcff;
  height: 100%;
  padding: 2em;
  padding-top: 1rem;
  z-index: 2;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.post__thumbnails {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 25%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.post__thumbnails.landscape {
  width: 391px;
  height: 220.9932px;
}

.post__thumbnails.landscape > .post__thumbnail--background:nth-child(2) {
  -webkit-transform: scale(0.95) translateY(-5.25%);
          transform: scale(0.95) translateY(-5.25%);
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
  opacity: 0.6;
  border-radius: 3px;
}

.post__thumbnails.landscape > .post__thumbnail--background:nth-child(3) {
  -webkit-transform: scale(0.9025) translateY(-11.025%);
          transform: scale(0.9025) translateY(-11.025%);
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
  opacity: 0.36;
  border-radius: 3px;
}

.post__thumbnails.landscape > .post__thumbnail--background:nth-child(4) {
  -webkit-transform: scale(0.85737) translateY(-17.36438%);
          transform: scale(0.85737) translateY(-17.36438%);
  -webkit-transition-delay: 0.09s;
          transition-delay: 0.09s;
  opacity: 0.216;
  border-radius: 3px;
}

.post__thumbnails.landscape > .post__thumbnail--background:nth-child(5) {
  -webkit-transform: scale(0.81451) translateY(-24.31013%);
          transform: scale(0.81451) translateY(-24.31013%);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  opacity: 0.1296;
  border-radius: 3px;
}

.post__thumbnails.portrait {
  width: 311.9904px;
  height: 552px;
}

.post__thumbnails.portrait > .post__thumbnail--background:nth-child(2) {
  -webkit-transform: scale(0.95) translateY(-3.675%);
          transform: scale(0.95) translateY(-3.675%);
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
  opacity: 0.6;
  border-radius: 3px;
}

.post__thumbnails.portrait > .post__thumbnail--background:nth-child(3) {
  -webkit-transform: scale(0.9025) translateY(-7.7175%);
          transform: scale(0.9025) translateY(-7.7175%);
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
  opacity: 0.36;
  border-radius: 3px;
}

.post__thumbnails.portrait > .post__thumbnail--background:nth-child(4) {
  -webkit-transform: scale(0.85737) translateY(-12.15506%);
          transform: scale(0.85737) translateY(-12.15506%);
  -webkit-transition-delay: 0.09s;
          transition-delay: 0.09s;
  opacity: 0.216;
  border-radius: 3px;
}

.post__thumbnails.portrait > .post__thumbnail--background:nth-child(5) {
  -webkit-transform: scale(0.81451) translateY(-17.01709%);
          transform: scale(0.81451) translateY(-17.01709%);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  opacity: 0.1296;
  border-radius: 3px;
}

.post__thumbnails > img {
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.post__thumbnails > div {
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.post__thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 0 12px 48px rgba(50, 50, 50, 0.4);
          box-shadow: 0 12px 48px rgba(50, 50, 50, 0.4);
  will-change: transform;
}

.post__thumbnail--background {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.post__header--title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
}

.post__header--title h2 {
  margin-bottom: 0.2rem;
}

.post__header--date {
  color: rgba(255, 255, 255, 0.7);
}

.post__header--tags {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 1.25em;
  overflow: hidden;
  font-size: 0.66667em;
}

.post__header--tags, .article__header--tags {
  color: #5F7288;
}

.post__header--tags a:hover, .article__header--tags a:hover {
  color: black;
}

.post__header--tags--thumbnail {
  color: rgba(255, 255, 255, 0.7);
}

.post__header--tags--thumbnail a:hover {
  color: white;
}

.post__excerpt {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.post__excerpt p {
  margin: 0;
}

.post__link {
  color: #293C50;
  position: absolute;
  right: 2em;
  bottom: 2em;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: auto;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.16, 0.99);
          transition-timing-function: cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.post__link:hover {
  color: #6F64F2;
}

.post__link i {
  color: #293C50;
}

.post__header--link {
  display: none;
  text-transform: uppercase;
  font-weight: 500;
}

@media only screen and (max-width: 560px) {
  .post__header--link {
    display: inline;
    position: absolute;
    bottom: 2em;
    right: 2em;
    color: white;
  }
}

.tags-list {
  margin: 0;
  padding: 0;
}

.tags-list-item {
  -webkit-appearance: none;
  float: left;
  padding-right: .5em;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  position: relative;
  z-index: 4;
}

.tags-list-item a {
  -webkit-transition: color 0.15s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: color 0.15s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  text-decoration: none;
  text-transform: uppercase;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: white;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  color: #333333;
  text-rendering: optimizeLegibility;
}

html {
  -ms-touch-action: manipulation;
  line-height: 1.6;
  display: block;
  height: 100%;
  width: 100%;
  touch-action: manipulation;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.16, 0.99);
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

body, html {
  font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 1em;
}

@media only screen and (min-width: 400px) and (max-width: 560px) {
  body, html {
    font-size: .90em;
  }
}

@media only screen and (max-width: 400px) {
  body, html {
    font-size: .90em;
  }
}

code {
  font-family: 'IBM Plex Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  overflow: auto;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul {
  padding-top: 0;
  margin-top: 0;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  word-spacing: 0.04em;
  letter-spacing: 0.02em;
}

h1, h2, h3 {
  line-height: 1;
  margin-left: -2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 1em;
}

h1 {
  font-size: 3.375em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

p {
  color: #65696d;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

ul {
  line-height: 1.6;
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5rem 0;
}

.sns__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 10em;
  margin: 1rem;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.sns__link > i {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.sns__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.top-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: top-bar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  max-width: 1000px;
  z-index: 6000;
  width: 100%;
  -webkit-transition: background 0.15s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: background 0.15s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  height: 5em;
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.top-bar--onscroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  max-width: 1000px;
  height: 4em;
  z-index: 5000;
}

.top-bar__container {
  opacity: 0;
  position: fixed;
  z-index: 4000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 6px 24px rgba(50, 50, 50, 0.2), 0 1px 4px rgba(50, 50, 50, 0.2);
          box-shadow: 0 6px 24px rgba(50, 50, 50, 0.2), 0 1px 4px rgba(50, 50, 50, 0.2);
  -webkit-transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.top-bar--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar--nav a {
  padding: 0 1em;
  text-shadow: none;
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

@media only screen and (max-width: 970px) {
  .top-bar--nav a {
    padding: 0 .75em;
  }
}

.top-bar--nav a:hover {
  color: #2ab384;
}

.top-bar--logo {
  font-size: 1.5em;
  text-transform: uppercase;
  overflow: visible;
  font-weight: 400;
  color: #2ab384;
}

.top-bar--logo span {
  font-weight: 600;
  letter-spacing: -2px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pace-inactive .pace-progress {
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.button--primary {
  color: rgba(255, 255, 255, 0.9);
  background-color: #3CC8E7;
  padding: .75em 2em;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 2em;
  margin: 4em 0;
  -webkit-filter: drop-shadow(0 0.5em 1em #3CC8E7);
  filter: drop-shadow(0 0.5em 1em #3CC8E7);
  -webkit-transition: background-color 1s cubic-bezier(0.17, 0.67, 0.16, 0.99), color 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  transition: background-color 1s cubic-bezier(0.17, 0.67, 0.16, 0.99), color 0.3s cubic-bezier(0.17, 0.67, 0.16, 0.99);
}

.button--primary:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  background-color: #31cff2;
  color: white;
}

.button-container {
  padding: 4em 0;
}

.pace .pace-progress {
  background: #3CC8E7;
  position: fixed;
  z-index: 8000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 0.25em;
}

.color-bar {
  z-index: 9000;
  height: 0.25em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #2ab384;
}
/*# sourceMappingURL=section.css.map */