@import 'globals'
@import 'layouts'
@import 'article'
@import 'posts'
@import 'modal'
 
body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background: $background-color
  background-attachment: fixed
  background-size: cover
  margin: 0
  color: $text-color
  text-rendering: optimizeLegibility

html
  -ms-touch-action: manipulation
  line-height: $line-height
  display: block
  height: 100%
  width: 100%
  touch-action: manipulation
  animation: fadein 2s
  animation-timing-function: $easing-function
  

body, html
  font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  font-weight: 400
  overflow-x: hidden
  +fluid-type('font-size', $min_width, $max_width, $min_font, $max_font)

code
  font-family: 'IBM Plex Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
  overflow: auto
  padding: 0

a
  color: inherit
  text-decoration: none
  
*, :after, :before
  -webkit-box-sizing: border-box
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, ul
  padding-top: 0
  margin-top: 0

@keyframes fadein 
    from 
      opacity: 0
    to 
      opacity: 1

h1, h2, h3, h4, h5, h6
  font-weight: 600

h1, h2, h3
  line-height: 1.2
  margin-left: -2px

ul
  list-style-type: none
  padding: 0
  margin: 0
li
  font-size: 1em

h1   
  font-size: pow($mod_1, 4) * 1rem
  +fluid-type('font-size', $min_width, $max_width, pow($mod_1, 3) *$min_font, pow($mod_2, 3) *$min_font)

h2   
  font-size: pow($mod_1, 3) * 1rem
  +fluid-type('font-size', $min_width, $max_width, pow($mod_1, 3) *$min_font, pow($mod_2, 3) *$min_font)

h3 
  font-size: pow($mod_1, 2) * 1rem
  +fluid-type('font-size', $min_width, $max_width, pow($mod_1, 2) *$min_font, pow($mod_2, 2) *$min_font)

h4
  font-size: 1em

p
  color: rgb(101, 105, 109)
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  word-break: break-word
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto

ul
  line-height: $line-height

// Container for the top information
// fixed for mobile
.top-bar
  background: white
  z-index: 6000
  width: 100vw
  transition: background .2s $easing-function, opacity .2s $easing-function
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 1em
  box-shadow: $double-shadow

.top-bar__cnt
  display: flex
  justify-content: space-between
  margin-left: auto
  margin-right: auto
  align-items: center
  max-width: calc(2*480px + 2em ) 

.top-bar--nav
  display: flex
  justify-content:  space-between
  a
    padding: 0 calc(0.5em + .75vw)
    text-shadow: none 
    color: $subtext-color
    text-transform: uppercase
    font-weight: 500
    font-size: .8em
    transition: all .3s $easing-function
  a:hover
    color: $primary
  @media screen and (max-width: $break-m)
    display: none

.top-bar--logo
  text-transform: uppercase
  overflow: visible
  font-weight: 500
  span
    color: $primary

.button--primary, .button--secondary
  padding: .5em 1.2em
  color: rgba(255,255,255, .9)
  font-weight: 500
  border-radius: .3em
  margin: 2rem 0 
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2)
  transition: background-color .3s $easing-function, color .3s $easing-function, transform .3s $easing-function, box-shadow .3s $easing-function
 
.button--primary
  background-color: desaturate($primary, 10) 
  &:hover
    color: white
    background-color: saturate($primary, 10) 
    transform: translateY(-2px)
    box-shadow: 0 4px 12px 0 transparentize($primary, .7)

.button--secondary
  background-color: desaturate($secondary, 10)
  &:hover
    color: white
    background-color: saturate($secondary, 10) 
    transform: translateY(-2px)
    box-shadow: 0 4px 12px 0 transparentize($secondary, .7)
      
.button-container
  padding: 2em 0

.avatar
  border-radius: 50%
  margin: 2rem 0
  max-width: 12rem
  max-height: 12rem
  height: auto
  width: 100%

.sns-container
  display: flex
  align-content: center
  align-items: center
  justify-items: center
  flex-direction: row

#close, .sns-link
  display: flex
  align-content: center
  align-items: center
  justify-items: center
  justify-content: center
  transition: background .3s $easing-function
  border-radius: 50%


.sns-link
  display: flex
  width: 3rem
  height: 3rem
  margin: 0 1rem
  ion-icon
    transition: color .15s $easing-function
    font-size: 1.3rem
    z-index: 10
  &:hover
    background: rgba(255,255,255,.05)
    ion-icon
      color: white
    &::after
      opacity: 1
      border-radius: 6px
      transform: scale(1) translateY(4rem)
      transition: transform .5s $easing-function .3s , opacity .15s $easing-function .5s, border-radius .5s $easing-function .3s
      width: 100%
  &:active
    background: rgba(255,255,255,.2)
  &::after
    content: attr(data-tooltip)
    opacity: 0
    position: absolute
    width: 3rem
    transform: scale(.2)
    font-size: .8rem
    background-color: black
    color: #fff
    text-align: center
    border-radius: 50%
    padding: .5rem .5rem
    z-index: -1
    overflow: hidden
    transition: opacity .2s $easing-function, transform .5s $easing-function, width .5s $easing-function
   


#close
  height: 3.6rem
  width: 3.6rem
  display: flex
  ion-icon
    transition: color .2s $easing-function
    font-size: 2rem
  &:hover
    background: rgba(0,0,0,.05)
    ion-icon
      color: black
  &:active
    background: rgba(0,0,0,.2)
.pics
  width: 100%
  height: 100%
  display: grid
  padding: 2em
  grid-template-columns: 1fr
  grid-template-rows: 1fr
  grid-template-areas: 'pic'

.pic
  width: 100%
  height: 100%
  grid-area: pic
  border-radius: 0.2rem
  box-shadow: $double-shadow
  background-size: cover
  &:first-of-type
    z-index: 100
  &:nth-of-type(2)
    z-index: 90
  &:nth-of-type(3)
    z-index: 80
  