$line-height: 1.5
$ratio: 1.25
$top-bar-height: 4em

$break-xxs: 360px
$break-xs: 400px
$break-s: 560px
$break-m: 768px
$break-l: 970px
$break-xl: 1200px
$break-xxl: 1400px
$break-xxxl: 1860px
$break-uw: 2600px 

$mobile-break: $break-s  
$sidebar-break: $break-xxl

//1600px has to be the maximum for other pages
$base-font-size: 1em
$step-up-1: 1em * $ratio
$step-up-2: $step-up-1 * $ratio
$step-up-3: $step-up-2 * $ratio
$step-up-4: $step-up-3 * $ratio
$step-down-1: 1em / $ratio
$step-down-2: $step-down-1 / $ratio

$max-card-width: 800px
$card-border-radius: 6px
$background-color: #F4F7FA //#EDF1F4
$sidebar-background-color: rgb(249,252,255)
$topbar-background-color: rgb(244,247,250)
$card-background: rgb(255,255,255)
$dark-mode-card: rgba(44,50,58,1)

$post-width: 460px
$post-height: 520px
$post-padding: 2em

$shadow: 0 6px 24px 0 rgba(50,50,50,0.2)

@function pow($number, $exponent) 
  $value: 1
  @if $exponent > 0 
    @for $i from 1 through $exponent 
      $value:  $value * $number
  @return $value

@font-face 
  font-family: 'Colfax Medium'
  font-style: normal
  font-weight: normal
  src: local('Colfax Medium'), url('/fonts/Colfax-Medium.woff') format('woff')

@font-face 
  font-family: 'Colfax Regular'
  font-style: normal
  font-weight: normal
  src: local('Colfax Regular'), url('/fonts/Colfax-Regular.woff') format('woff')

\::-moz-selection, ::selection
  background: rgba(107, 79, 189, 0.4)
  text-shadow: none

::-webkit-scrollbar
  width: 0
  display: none

body
  //opacity: 0
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background: $background-color
  background-attachment: fixed
  background-size: cover
  //height: 100vh
  margin: 0
  transition: opacity .3s ease-in-out
  transition-delay: .2s
  color: #293c50;
  //width: 100%
  text-rendering: optimizeLegibility

html
  -ms-touch-action: manipulation
  line-height: $line-height
  display: block
  height: 100%
  width: 100%
  touch-action: manipulation
  

body, html
  font-family: 'Colfax Regular', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  font-weight: normal
  overflow-x: hidden
  font-size: $base-font-size

  @media only screen and (min-width: $break-xs) and (max-width: $break-s)
    font-size: .90em
  @media only screen and (min-width: $break-xxs) and (max-width: $break-xs)
    font-size: .87em
  @media only screen and (max-width: $break-xxs)
    font-size: .84em

code
  border: none
  border-bottom-right-radius: 3px
  border-radius: 0
  border-top-right-radius: 3px
  display: block
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
  font-size: 13px
  line-height: 19px
  overflow: auto
  padding: 0


a
  color: inherit
  text-decoration: none
  
*, :after, :before
  -webkit-box-sizing: border-box
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, ul
  padding-top: 0
  margin-top: 0

h1, h2, h3, h4, h5, h6
  font-family: 'Colfax Medium'
  font-weight: normal

h1, h2, h3
  margin-bottom: $step-up-1 .5rem
  line-height: 1.2
  margin-left: -2px

ul
  list-style-type: none
  padding: 0
  margin: 0
li
  font-size: 1em

h1
  font-size: $step-up-3
  opacity: 1

h2
  font-size: $step-up-2
  opacity: .9

h3
  font-size: $step-up-1
  opacity: .8
h4
  font-size: 1em

p
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  word-break: break-word
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto
  opacity: .8
ul
  line-height: $line-height

// Structure of the site
// contains main and header objects
.layout
  display: grid
  grid-template-areas: " . top-bar top-bar ." " . welcome welcome . " " . projects-info . . " " . projects projects . " " . contact contact . "
  grid-template-rows: $top-bar-height minmax(600px, auto) auto minmax(600px, auto) minmax(600px, auto)
  grid-template-columns: auto 480px 480px auto
  width: 100%   
  height: 100% 
  //scroll-snap-type: mandatory
  //scroll-snap-destination: 100% 0%
  //scroll-snap-points-y: repeat(100%)
  @media only screen and (min-width: $break-m) and (max-width: $break-l)
    grid-template-columns: 2em auto 2em
    grid-template-areas: " . top-bar ." " . welcome . " " . projects-info . " " . projects . " " . contact . "
  @media only screen and (max-width: $break-m) 
    grid-template-columns: 1em auto 1em
    grid-template-areas: " . top-bar ." " . welcome . " " . projects-info . " " . projects . " " . contact . "

.welcome
  grid-area: welcome
  display: contents
  & > div:nth-child(1)
    grid-area: welcome-start
  & > div:nth-child(2)
    grid-area: welcome-end
  & > div.section-bg
    grid-column: 1 / 5
    grid-row: 1 / 3
  
.contact
  grid-area: contact
  display: contents
  & > div:nth-child(1)
    grid-area: contact-start
  & > div:nth-child(2)
    grid-area: contact-end
  & > div.section-bg
    grid-column: 1 / 5
    grid-row: 5 / 8

.projects
  grid-area: projects
  display: contents
  & > div:nth-child(1)
    grid-area: projects-info-start
  & > div:nth-child(2)
    grid-area: projects

.contact, .projects, .welcome 
  //& > div:nth-child(1)
    //scroll-snap-align: start
  & > div:nth-child(1), 
  & > div:nth-child(2)
    margin: 5rem 0

.section-bg
  background: #E7EDF3
  z-index: -1
 
// Container for the top information
// fixed for mobile
.tob-bar, .top-bar--white
  grid-area: top-bar
  display: flex
  justify-content: space-between
  margin-left: auto
  margin-right: auto
  align-items: center 
  z-index: 4000
  width: 100%
  transition: background .15s ease-in-out
  height: $top-bar-height

.top-bar--nav
  display: flex
  justify-content:  space-between
  font-weight: normal
  font-family: 'Colfax Medium'
  a
    padding: 0 10px
    transition: color .15s ease-in-out
    color: #5f7288 
  a:hover
    color: black 


.top-bar--logo
  text-transform: uppercase
  overflow: visible
  color: #5f7288 
  span
    font-family: 'Colfax Medium'
    font-weight: normal


.top-bar--white
  .top-bar--nav
    a
      color: rgba(255, 255, 255, 0.8)
    a:hover
      color: white
  .top-bar--logo
     color: rgba(255, 255, 255, 0.8)

 
.nav-item
  display: flex
  padding: 1rem 33px   
  align-items: center
  transition-property: color, border-left, background
  transition-duration: .15s
  transition-timing-function: ease-in-out
  color: #5F7288
  border-left: 5px solid transparent
  &:hover
    color: #6F64F2
    background: rgba(0,0,0,.05)
    border-left: 5px solid #6F64F2
    .nav_item_icon
      color: #ABA8F2
  &:active
    border-left: 5px solid #E8676A
    background: #FFE6E8

.nav-item__icon
  width: 1rem
  color: #AAB9C5
  transition: color .15s ease-in-out
  margin-right: 1rem

.nav-item__info
  line-height: .5
  font-size: .9em
  color: #AAB9C5
  text-transform: none
  font-family: 'Colfax Regular'
  position: absolute


.nav-item__label
  text-transform: uppercase
  font-family: 'Colfax Medium'
  font-weight: normal

.nav-item--close
  display: flex
  padding: 1rem 2rem
  align-items: center
  transition-property: color, border-left, background
  transition-duration: .15s
  transition-timing-function: ease-in-out
  color: #E7AAAE 
  margin-bottom: $top-bar-height
  &:hover
    color: #E8676A

.header__info, .header__about
  padding: 1rem 3rem   
.header__close, .header__sns, .header__nav
  width: 100%  
  padding: 1rem 0

.info-title
  padding-left: 12px
  margin: 12px 0

.info-title__author
  color: #6F64F2
  line-height: $line-height
  margin: 0

.info-title__text
  color: #6D757E
  margin: 0

.avatar
  border-radius: 120%
  display: block
  height: auto
  width: 60%
  margin: 0 auto
  box-shadow: $shadow


.posts
  @media only screen and (max-width: $mobile-break) 
    padding-left: .5rem
    padding-right: .5rem

// container for full pages and posts
// .full-post
//   display: flex
//   justify-content: center
  

// container for the recents posts
.posts
  display: grid
  width: 100%
  grid-gap: 40px
  grid-auto-flow: row dense
  margin: 0 auto
  margin-bottom: 4em
  align-items: center
  grid-auto-rows: minmax(auto, 1fr)
  grid-template-columns: 1fr
  justify-items: center

  @media only screen and (min-width: $break-l)
    grid-template-columns: repeat(auto-fit, $post-width)
  @for $i from 1 through 10
    &>div:nth-child(#{$i})
      animation-delay: .15s * $i

.post
  color: white
  width: 100%
  height: 100vw
  position: relative
  transition: all .3s ease-in-out
  overflow: hidden
  background: $card-background
  border-radius: $card-border-radius
  box-shadow: 0 6px 24px 0 rgba(50,50,50,0.2)
  cursor: pointer
  @media only screen and (min-width: $break-s)
    width: $post-width
    height: $post-height 

// Page 
.article
  display: grid
  grid-template-areas: " . top-bar top-bar ." " . header header . " " . content content . "
  grid-template-rows: $top-bar-height minmax(400px, auto) auto
  grid-template-columns: auto 480px 480px auto
  grid-row-gap: 50px
  width: 100%   
  height: 100% 
  @media only screen and (min-width: $break-m) and (max-width: $break-l)
    grid-template-columns: 2em auto 2em
    grid-template-areas: " . top-bar ." " . header . " " . content . "
  @media only screen and (max-width: $break-m) 
    grid-template-columns: 1em auto 1em
    grid-template-areas: " . top-bar ." " . header . " " . content . "

  &>.article__bg
    grid-column: 1 / 5
    grid-row: 1 / 3
    z-index: -1

.article-container
  max-width: 750px
  width: 100%
  margin: 0 auto
  display: flex
  flex-direction: column

.article__header, .article 
  animation-duration: .3s
  animation-fill-mode: both
  animation-name: fade-in
  animation-timing-function: ease-in-out 

.article__header
  grid-area: header
  //display: contents
  &>div:nth-child(1)
    grid-area: header-info
  &>div:nth-child(2)
    grid-area: header-links


.article__header--title, .article__header--title--thumbnail
  position: relative
  display: flex
  align-items: baseline
  flex-direction: row
  justify-content: space-between
  z-index: 20
  h1
    font-size: $step-up-4
    margin-bottom: 0

.article__header--description
  color: white
  padding: 1rem 0

.article__header--title
  color: #293C50
  
.article__header--title--thumbnail
  color: white

.article__header--date, .post__header--date
  font-size: 1em
  margin-bottom: 0
  color: rgba(255,255,255, 0.7)

.article__header--tags
  padding-bottom: .5em

.article__header--links
  padding-top: .5em
  display: grid
  grid-template: 1fr / repeat(auto-fill, 260px)
  grid-gap: 1rem


.header-link
  display: flex
  flex-direction: column
  color: rgba(255,255,255, .7)
  border: 1px solid white
  border-radius: 6px
  padding: 1rem
  transition: background .15s ease-in-out
  &:hover
    background: rgba(255,255,255,.05a)
    color: white !important
    .header-link__icon
      color: white !important
    .header-link__label
      color: white !important
    
.header-link__description
  margin-left: 2rem

.header-link__icon
  width: 1rem
  color: rgba(255,255,255,.7)
  margin-right: 1rem

.header-link__label
  text-transform: uppercase
  color: rgba(255,255,255, .7)
  font-size: $step-up-1
  font-family: "Colfax Medium"

.header-link__description, .header-link__label, .header-link__icon
  transition: color .15s ease-in-out

.article__content
  grid-area: content
  margin: 4rem 0
  padding: 1em
  p
    margin: 2rem 0
    color: #293C50
  h2
    color: #6F64F2  
    margin: 0
  img
    width: 100%
    -webkit-filter: drop-shadow(0 .5em 2em rgba(50, 50, 50, 0.3))
    filter: drop-shadow(0 .5em 2em rgba(50, 50, 50, 0.3))


.post:hover
  box-shadow: 0 6px 48px 0 rgba(50,50,50,0.4)

.post:hover .post__thumbnails
  &>img
    transform: scale(1.01) 
   
  &.landscape
    @for $i from 2 through 5
      &>.post__thumbnail--background:nth-child(#{$i})
        $exp: ($i - 1) 
        $factor_size: pow(.93, $exp)
        $factor_translate: pow(1.05, $exp)
        transform: scale(1 * $factor_size) translateY(-8% * $exp * $factor_translate) 
        opacity: pow(.7, $exp)

  &.portrait 
    @for $i from 2 through 5
      &>.post__thumbnail--background:nth-child(#{$i})
        $exp: ($i - 1) 
        $factor_size: pow(.93, $exp)
        $factor_translate: pow(1.05, $exp)
        transform: scale(1 * $factor_size) translateY(-6% * $exp * $factor_translate) 
        transition-delay: .03s * $exp
        opacity: pow(.7, $exp)


.post-container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 25%
  height: 100%
  width: 100%
  @media only screen and (max-width: $mobile-break)
    grid-template-rows: 1fr
    &>div:last-child
      display: none

.post__header, .post__header--thumbnail
  display: flex
  flex-direction: column

.post__header
  color: #293C50 

.post__header--thumbnail
  color: white

.post__footer
  display: flex
  flex-direction: column
  background: $sidebar-background-color
  height: 100%


.post__header--thumbnail, .post__excerpt--thumbnail,
  padding: $post-padding
  padding-bottom: 0

.post__footer
  padding: $post-padding
  padding-top: 1rem
  z-index: 10

.post__thumbnails
  align-self: center
  top: 25%
  position: absolute
  transform-style: preserve-3d
  transform: translate3d(0,0,0)

  &.landscape
    width: $post-width * .85
    height: $post-width * 0.5652 * .85
 
    @for $i from 2 through 5
      &>.post__thumbnail--background:nth-child(#{$i})
        $exp: ($i - 1) 
        $factor_size: pow(.95, $exp)
        $factor_translate: pow(1.05, $exp)
        transform: scale(1 * $factor_size) translateY(-5% * $exp  * $factor_translate) 
        transition-delay: .03s * $exp
        opacity: pow(.6, $exp)

  &.portrait
    width: $post-width  * 0.5652  * 1.2 
    height: $post-width * 1.2

    @for $i from 2 through 5
      &>.post__thumbnail--background:nth-child(#{$i})
        $exp: ($i - 1) 
        $factor_size: pow(.95, $exp)
        $factor_translate: pow(1.05, $exp)
        transform: scale(1 * $factor_size) translateY(-3.5% * $exp * $factor_translate) 
        transition-delay: .03s * $exp
        opacity: pow(.6, $exp)
      
  &>img
    transition: all .3s ease-in-out
  &>div
    transition: all .3s ease-in-out
 

.post__thumbnail
  width: 100%
  height: 100%
  position: absolute
  z-index: 10
  -webkit-filter: drop-shadow(0 .5em 2em rgba(50, 50, 50, 0.4))
  filter: drop-shadow(0 .5em 2em rgba(50, 50, 50, 0.4))
  transform-style: preserve-3d
  transform: translate3d(0,0,0)

.post__thumbnail--background
  background-color: rgba(255,255,255,.6)
  width: 100%
  height: 100%
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto

.post__header--title
  position: relative
  display: flex
  align-items: baseline
  flex-direction: row
  justify-content: space-between
  z-index: 20
  h2
    margin-bottom: 0.2rem

.post__header--date
  color: rgba(255,255,255,.7)

.post__header--tags, .post__header--tags--thumbnail
  display: inline-flex
  height: 1.25em
  overflow: hidden
  font-size: $step-down-1


.post__header--tags, .article__header--tags
  color: #5F7288
  a:hover
    color: black
 
.post__header--tags--thumbnail, .article__header--tags--thumbnail
  color: rgba(255,255,255,.7)
  a:hover
    color: white

.post__excerpt
  color:  #5F7288 
  align-self: flex-start
  justify-self: flex-end
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  word-break: break-word
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto
  p
    margin: 0
   

.post__link
  color: #293C50
  position: absolute
  right: 2em
  bottom: 2em
  //padding: .5em 1em
  //border: 1px solid rgba(0,0,0,.3)
  //border-radius: 3px
  text-transform: uppercase
  font-family: 'Colfax Medium'
  font-weight: normal
  margin-top: auto
  transition-property: color
  transition-duration: .15s
  transition-timing-function: ease-in-out
  &:hover
    color: #6F64F2
  i 
    color: #293C50

.post__header--link
  display: none
  text-transform: uppercase
  font-family: 'Colfax Medium'
  font-weight: normal
  @media only screen and (max-width: $mobile-break)
    display: inline
    position: absolute
    bottom: $post-padding
    right: $post-padding
    color: white

.tags-list
  margin: 0
  padding: 0

.tags-list-item
  a
    -webkit-transition: color .15s ease-in-out
    transition: color .15s ease-in-out
    text-decoration: none
    text-transform: uppercase
  -webkit-appearance: none
  float: left
  padding-right: .5em
  list-style: none
  margin-left: 0
  padding-left: 0
  text-align: center
  position: relative
  z-index: 4
  
.button, .button--alt, .button--thumbnail, .button--alt--thumbnail
  border-radius: 3px
  display: inline-block
  font-size: 1em
  padding: .7em 1.4em
  margin-right: .5em
  margin-top: .5em
  position: relative
  text-align: center
  text-decoration: none
  text-transform: uppercase
  z-index: 4
  transition-property: transform, color, background
  transition-duration: .15s
  transition-timing-function: ease-in-out
  &:hover
    box-shadow: 0 3px 12px rgba(50,50,50,0.2)
  @media screen and (max-width: $break-m)
    padding: .5em 1em

.button
  background: #ABA8F2
  color: rgba(255,255,255,.9)
  &:hover
    background: #6F64F2
    color: white

.button--thumbnail
  background: rgba(255,255,255,.9)
  color: #ABA8F2
  &:hover
    background: white
    color: #6F64F2
    
.button--alt
  background: #E7AAAE
  color: rgba(255,255,255,.7)
  &:hover
    background: #E8676A
    color: white
  
.button--alt--thumbnail
  color: #ABA8F2
  background: rgba(255,255,255,.8)
  &:hover
    color: #6F64F2
    background: white


// Animations for the content of the main object
.fade-in
  animation-duration: .3s
  animation-fill-mode: both
  animation-delay: .1s
  animation-name: fade-in
  animation-timing-function: ease-in-out
 
@keyframes fade-in-up 
  from 
    opacity: 0
    -webkit-transform: translate3d(0, 20px, 0)
    transform: translate3d(0,20px, 0)
  to 
    opacity: 1
    -webkit-transform: none
    transform: none

@keyframes fade-in 
  from 
    opacity: 0
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  to 
    opacity: 1
    -webkit-transform: none
    transform: none

.pace 
  -webkit-pointer-events: none
  pointer-events: none
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  
.pace-inactive  .pace-progress
  opacity: 0
  transition: opacity .5s ease-in-out 

.pace .pace-progress 
  background: #6F64F2
  position: fixed
  z-index: 8000
  top: 0
  right: 100%
  width: 100%
  height: 2px

