//-let contrast = (is_home()) ? 'tob-bar' : 'top-bar--white'
#top-bar(class='top-bar')
  div(class="top-bar--logo")
    !="J" 
    span
      !="G" 
  div(class="top-bar--nav")
    each values, label in theme.menu
      a(href=values.url data-pjax class="")!=label


