#top-bar(class='top-bar')
  div(class="top-bar--logo")
    !="J" 
    span(class="surname")
      !="Gawrylkowicz" 
  div(class="top-bar--nav")
    each values, label in theme.menu
      a(href=values.url id=values.id)!=label

#top-bar--onscroll(class='top-bar__container')
  div(class='top-bar--onscroll')
    div(class="top-bar--logo")
      !="J" 
      span(class="surname")
        !="Gawrylkowicz" 
    div(class="top-bar--nav")
      each values, label in theme.menu
        a(href=values.url id=values.id)!=label


