-let contrast = (is_home()) ? 'tob-bar' : 'top-bar--white'
#tob-bar(class=contrast)
  div(class="top-bar--logo")
    !="Jakub" 
    span
      !="Gawrylkowicz" 
  div(class="top-bar--nav")
    each values, label in theme.menu
      a(href=values.url data-pjax class="")!=label
    

