#top-bar(class='top-bar')
  div(class="top-bar--logo")
    !="J" 
    span
      !="G" 
  div(class="top-bar--nav")
    each values, label in theme.menu
      a(href=values.url id=values.id)!=label


