div(class="welcome")
  
  section
    h1(data-aos=animation)
      !="Web Developer with passion for <span data-aos='aos-color'>travel</span>"
    p(data-aos=animation data-aos-anchor=".welcome section h1")
      !="I find web technologies very fascinating and aspire to work as a full-stack developer in the future. Here you can find some of my work and the development process behind it."

  div(class="welcome-bg")


