div(class="welcome")
  div
    h1!="Hello, nice to meet you!"
    h3!="My name is Jakub Gawrylkowicz ..."
    p!="... and I am currently living and studying in Vienna. I find web technologies very fascinating and aspire to work as a full-stack developer in the future. "
  div
  div(class="section-bg")

