div(class="welcome")
  
  section
    h1!="Hello, nice to meet you!"
    p!="My name is Jakub Gawrylkowicz. I am currently living and studying in Vienna. I find web technologies very fascinating and aspire to work as a full-stack developer in the future. Here you can find some of my work and the development process behind it."

  div(class="section-line")


