div(class="welcome ")
  div( data-aos="fade-down")
    h1!="Hello, nice to meet you!"
    h3!="My name is Jakub Gawrylkowicz."
    p!="I am currently living and studying in Vienna. I find web technologies very fascinating and aspire to work as a full-stack developer in the future. Here you can find some of my work and the development process behind it."
    div(class="button-container")
      a(class="button--primary" href='#')
        !="See Projects"
  div
    img(class="iso" src="/img/isometric_landingpage.svg")
     
  div(class="section-bg")

